@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-onesta: 'Onesta', sans-serif;
  --font-fredoka: 'Fredoka', cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.fredoka {
  font-family: var(--font-fredoka);
}

.onest {
  font-family: var(--font-onesta);
}

.figtree {
  font-family: var(--font-figtree);
}

.bicroLage {
  font-family: var(--font-bicroLage);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-onesta);
}

.bg-color {
  background-color: #f4f1eb;
}

html {
  font-size: 14px;
}

.wrapper {
  max-width: 98rem;
}

.inner-wrapper {
  max-width: 90rem;
}

@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 1301px) and (max-width: 1500px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1501px) and (max-width: 1800px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1901px) and (max-width: 2100px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 2101px) and (max-width: 2500px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 2501px) and (max-width: 3000px) {
  html {
    font-size: 24px;
  }
}

@media (max-width: 1120px) {
  .wrapper {
    max-width: 90rem;
  }
}